# The config file contains five parts
# Please don’t change the variable name in the config file. The variable name will be used in our pipelines.

#=============================================================================
#****/  The path of executive program to be used
#=============================================================================
#**** common executive program
bgzip=/your_software_path/htslib-1.9/bin/bgzip
tabix=/your_software_path/htslib-1.9/bin/tabix
bcftools=/your_software_path/bin/bcftools
vcftools=/your_software_path/bin/vcftools
samtools=/your_software_path/bin/samtools
perl=/your_software_path/bin/perl
java=/your_software_path/bin/java
picard=/your_software_path/picard_2.26.11/picard.jar
python3_9=/your_software_path/bin/python

#**** add path of bgzip into PATH
export PATH=${PATH}:/your_software_path/htslib-1.9/bin

# Python2 be used to run Manta and Lumpy
python2=/your_software_path/bin/python2

#=============================================================================
#****/  The path of executive program to be used in SV calling
#=============================================================================
#**** 110.raw.reads.mapping
bwa=/your_software_path/bin/bwa
gatk=/your_software_path/bin/gatk

#**** 130.sv.detection
manta_install_path=/your_software_path/manta-1.6.0.centos6_x86_64
lumpy_install_path=/your_software_path/lumpy-sv-0.2.13

#! The format of inversion detected by Manta should be converted to another format using the following script
# https://github.com/Illumina/manta/tree/master/src/python/libexec/convertInversion.py
code_convertInversion=/your_software_path/convertInversion.py

svseq2=/your_software_path/svseq2_2/SVseq2_2
svimmer=/your_software_path/svimmer_v0.1/svimmer

#**** 140.sv.genotyping
graphtyper2=/your_software_path/graphtyper/graphtyper

#**** 150.sv.filtering
vcffilter=/your_software_path/bin/vcffilter

#**** downstream analysis
bedtools=/your_software_path/bin/bedtools
plink19=/your_software_path/plink_v1.9/plink1.9
plink2=/your_software_path/plink_v2.0/plink2

#=============================================================================
#****/  The path of executive program to be used in gene expression
#=============================================================================
#**** 110.hisat2.index_genome
hisat2_build=/your_software_path/hisat2-2.2.1/hisat2-build

#**** 120.hisat2.genome_out
hisat2=/your_software_path/hisat2-2.2.1/hisat2

#**** 130.htseq.genome_out
htseq_count=/your_software_path/python-3.7.13/bin/htseq-count
Rscript=/your_software_path/R-3.6.1/bin/Rscript

# Make sure you have installed following packages in your system: dplyr, edgeR

#=============================================================================
#****/  The path of input data to be used in SV analysis
#=============================================================================
#****/ The directory of scripts in our protocol
this_protocol_script_path=/your_software_path/SVprotocol

#****/ The directory of input and output data to be used
your_analysis_dir=/your_data_path/SVCalling

#** In your_analysis_dir (/your_data_path/SVCalling), you must have a subdirectory named as "fastq/<sample_name>" including two FASTQ file (<sample_name>_R1.fastq.gz and <sample_name>_R2.fastq.gz)
# For example, for sample AHRm.725, we required two files in the following directory
# $your_analysis_dir/fastq/AHRm.725/AHRm.725_R1.fastq.gz
# $your_analysis_dir/fastq/AHRm.725/AHRm.725_R2.fastq.gz

#** When you source this config, this config will create some subdirectory in your_analysis_dir, which will be the directory of some output data.
#****/
mkdir -p $your_analysis_dir/110.raw.reads.mapping 2>/dev/null
mkdir -p $your_analysis_dir/120.remove.duplicates 2>/dev/null
mkdir -p $your_analysis_dir/130.sv.detection 2>/dev/null
mkdir -p $your_analysis_dir/140.sv.genotyping 2>/dev/null
mkdir -p $your_analysis_dir/150.sv.filtering 2>/dev/null

#****/ The full path of reference genome sequence data (FASTA)
#** Please just include chromosome-level sequence
#** Reference genome data must end with "fasta"
#** Please put all reference data into one directory
#****/
ref_genome_fasta=/your_bundle_path/reference/Rhipicephalus_microplus.chromosome.fasta


#=============================================================================
#****/  The path of input data to be used in gene expression analysis
#=============================================================================
#****/ The directory of input and output data to be used
#** In your_gene_expression_analysis_dir, you must have a subdirectory named as "fastq/<sample_name>" including two FASTQ file (<sample_name>_1.fastq.gz and <sample_name>_2.fastq.gz) for pair-end sequencing data
#****/
your_gene_expression_analysis_dir=/ your_gene_expression_path/gene_express

# File used in script “SVprotocol_part5.sh”
ref_genome_gtf=/your_bundle_path/reference/Rhipicephalus_microplus.NCBI.TIGMIC.sorted.updPos.gtf
ref_genome_gff=/your_bundle_path/reference/Rhipicephalus_microplus.NCBI.TIGMIC.sorted.updPos.gff.gz

# A variable used in script “SVprotocol_part5.sh” as the prefix of index files of the reference genome, which index file is used in hisat2
ref_genome_prefix_name=Rhipicephalus_microplus




