#=============================================================================
#****/  The path of executive program to be used
#=============================================================================
# /picb/pggtools/archives
#**** common software
bgzip=/picb/pggtools/binary/htslib-1.9/bin/bgzip
#** add path of bgzip into PATH
export PATH=${PATH}:/picb/pggtools/binary/htslib-1.9/bin

tabix=/picb/pggtools/binary/htslib-1.9/bin/tabix
bcftools=~/.pggtools/bin/bcftools
vcftools=~/.pggtools/bin/vcftools
samtools=~/.pggtools/bin/samtools
perl=~/.pggtools/bin/perl
java=~/.pggtools/bin/java
picard=/picb/humpopg-bigdata5/liuqi/software/picard_2.26.11/picard.jar
python3_9=~/.pggtools/bin/python
#! Use python2 to run Manta and Lumpy
python2=/usr/bin/python2

#=============================================================================
#****/  The path of executive program to be used in SV calling
#=============================================================================
#**** 110.raw.reads.mapping
bwa=~/.pggtools/bin/bwa
gatk=~/.pggtools/bin/gatk

#**** 130.sv.detection
manta_install_path=/picb/humpopg-bigdata5/masen/manta/manta-1.6.0.centos6_x86_64
lumpy_install_path=/picb/pggtools/archives/lumpy-sv-0.2.13

#! Inversion in Manta should be convert format: 
# https://github.com/Illumina/manta/tree/master/src/python/libexec/convertInversion.py
code_convertInversion=/picb/humpopg-bigdata5/liuqi/software/SVprotocol/convertInversion.py

svseq2=/picb/humpopg-bigdata5/liuqi/software/svseq2_2/SVseq2_2
svimmer=/picb/humpopg-bigdata5/liuqi/software/svimmer_v0.1/svimmer

#**** 140.sv.genotyping
graphtyper2=/picb/humpopg-bigdata5/liuqi/software/graphtyper/graphtyper

#**** 150.sv.filtering
vcffilter=/public/home/PGG/liuqi/.conda/envs/liuqi/bin/vcffilter

#**** downstream analysis
bedtools=~/.pggtools/bin/bedtools
plink19=/public/home/PGG/liuqi/software/plink_v1.9/plink1.9
plink2=/public/home/PGG/liuqi/software/plink_v2.0/plink2

#=============================================================================
#****/  The path of executive program to be used in gene expression
#=============================================================================

#**** 110.hisat2.index_genome
hisat2_build=/share/apps/gene/hisat2-2.2.1/hisat2-build

#**** 120.hisat2.genome_out
hisat2=/share/apps/gene/hisat2-2.2.1/hisat2

#**** 130.htseq.genome_out
htseq_count=/share/apps/cluster/python-3.7.13/bin/htseq-count
Rscript=/share/apps/cluster/R-3.6.1/bin/Rscript

# Make sure you have installed following packages in your system
# dplyr, edgeR

#=============================================================================
#****/ The directory of scripts in our protocol
this_protocol_script_path=/picb/humpopg-bigdata5/liuqi/software/SVprotocol

#=============================================================================
#****/  The path of input data to be used in SV calling
#=============================================================================

#****/ The directory of input and output data to be used
#** In your_analysis_dir, you must have a subdirectory named as "fastq/<sample_name>" including two FASTQ file (<sample_name>_R1.fastq.gz and <sample_name>_R2.fastq.gz)
#** When you source this config, this pipeline will create some subdirectory in your_analysis_dir, which will be the directory of some output data.
#****/
your_analysis_dir=/picb/humpopg-bigdata5/liuqi/SVprotocol
mkdir -p $your_analysis_dir/110.raw.reads.mapping 2>/dev/null
mkdir -p $your_analysis_dir/120.remove.duplicates 2>/dev/null
mkdir -p $your_analysis_dir/130.sv.detection 2>/dev/null
mkdir -p $your_analysis_dir/140.sv.genotyping 2>/dev/null
mkdir -p $your_analysis_dir/150.sv.filtering 2>/dev/null

#****/ The full path of reference genome sequence data (FASTA)
#** Please just include chromosome-level sequence or sequence with size larger than 250kb
#** reference genome data must end with ".fasta"
#** Please put all reference data into one directory
#****/
ref_genome_fasta=/picb/humpopg-bigdata5/liuqi/SVprotocol/reference/Rhipicephalus_microplus.chromosome.fasta
ref_genome_gtf=/picb/humpopg-bigdata5/liuqi/SVprotocol/reference/Rhipicephalus_microplus.NCBI.TIGMIC.sorted.updPos.gtf
ref_genome_gff=/picb/humpopg-bigdata5/liuqi/SVprotocol/reference/Rhipicephalus_microplus.NCBI.TIGMIC.sorted.updPos.gff.gz
ref_genome_prefix_name=Rhipicephalus_microplus


#=============================================================================
#****/  The path of input data to be used in gene expression analysis
#=============================================================================
#****/ The directory of input and output data to be used
#** In your_gene_expression_analysis_dir, you must have a subdirectory named as "fastq/<sample_name>" including two FASTQ file (<sample_name>_1.fastq.gz and <sample_name>_2.fastq.gz)
#****/
your_gene_expression_analysis_dir=/share1/home/liuqi/project/gene_express
